<% include head %>
<% include header %>

<a class='back land-A' href="/home">Alle velden</a>
<h3 class='titel'>Meest populair</h3>
  <div class='veld'>
      <h3 class='veld-straat'>Straat: <%- velden.features[33].straat %></h3>
      <p class='veld-postcode'>Postcode: <%- velden.features[33].postcode %></p>
      <p class='veld-categorie'>Categorie: <%- velden.features[33].categorie %></p>
      <p class='veld-toestellen'>Toestellen: <%- velden.features[33].toestellen %></p>
      <a class="show" href="/home/<%=33%>">Bekijk</a>
  </div>
  <br>

    <div class='veld'>
        <h3 class='veld-straat'>Straat: <%- velden.features[112].straat %></h3>
        <p class='veld-postcode'>Postcode: <%- velden.features[112].postcode %></p>
        <p class='veld-categorie'>Categorie: <%- velden.features[112].categorie %></p>
        <p class='veld-toestellen'>Toestellen: <%- velden.features[112].toestellen %></p>
        <a class="show" href="/home/<%=112%>">Bekijk</a>
    </div>
    <br>

    <div class='veld'>
        <h3 class='veld-straat'>Straat: <%- velden.features[74].straat %></h3>
        <p class='veld-postcode'>Postcode: <%- velden.features[74].postcode %></p>
        <p class='veld-categorie'>Categorie: <%- velden.features[74].categorie %></p>
        <p class='veld-toestellen'>Toestellen: <%- velden.features[74].toestellen %></p>
        <a class="show" href="/home/<%=112%>">Bekijk</a>
    </div>
    <br>

<h3 class='titel'>Uitgelicht</h3>

<div class='veld'>
    <h3 class='veld-straat'>Straat: <%- velden.features[100].straat %></h3>
    <p class='veld-postcode'>Postcode: <%- velden.features[100].postcode %></p>
    <p class='veld-categorie'>Categorie: <%- velden.features[100].categorie %></p>
    <p class='veld-toestellen'>Toestellen: <%- velden.features[100].toestellen %></p>
    <a class="show" href="/home/<%=33%>">Bekijk</a>
</div>
<br>

  <div class='veld'>
      <h3 class='veld-straat'>Straat: <%- velden.features[69].straat %></h3>
      <p class='veld-postcode'>Postcode: <%- velden.features[69].postcode %></p>
      <p class='veld-categorie'>Categorie: <%- velden.features[69].categorie %></p>
      <p class='veld-toestellen'>Toestellen: <%- velden.features[69].toestellen %></p>
      <a class="show" href="/home/<%=112%>">Bekijk</a>
  </div>
  <br>
